<app-side-menu
  [buttons]="buttonMenu"
  (collapseEvent)="isCollapsed = $event"
></app-side-menu>
<section class="flex justify-end">
  <section
    class="bodyNormal min-h-screen bg-purple-900 flex justify-center pt-[30px]"
    [ngClass]="{ nobodyCollapse: !isCollapsed }"
  >
    <div class="w-[80%]">
      <router-outlet></router-outlet>
    </div>
  </section>
</section>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="large"
  color="#ffffff"
  type="pacman"
  [fullScreen]="true"
  ><p style="color: white">Loading...</p></ngx-spinner
>
