@if(canAddAuthor){
<section class="flex justify-between">
  <h2 class="title">Autores</h2>
  <button mat-raised-button routerLink="create">Crear autor</button>
</section>

} @if(listAuthors.length>0){
<mat-card class="w-full">
  <mat-card-content>
    <form
      (ngSubmit)="searchAuthors()"
      class="flex sm:justify-between justify-center flex-wrap w-full"
      [formGroup]="form"
    >
      <mat-form-field class="sm:w-[30%] w-full">
        <mat-label>Nombre </mat-label>
        <input matInput placeholder="Nombre" formControlName="nameCont" />
      </mat-form-field>
      <mat-form-field class="sm:w-[30%] w-full">
        <mat-label>Fecha de nacimiento</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input
            matStartDate
            placeholder="Dia de inicio"
            formControlName="birthDateGreat"
          />
          <input
            matEndDate
            placeholder="Dia final"
            formControlName="birthDateSmall"
          />
        </mat-date-range-input>
        <mat-hint>Inicio – Final</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      <app-input-autocomplete
        class="sm:w-[30%] w-full"
        formControlName="countryId"
        [options]="countriesOpts"
        >País de origen</app-input-autocomplete
      >
      <div class="flex justify-end w-full flex-wrap">
        <button
          mat-raised-button
          class="ml-[5px] mt-[5px]"
          type="button"
          (click)="cleanFilters()"
        >
          Limpiar
        </button>
        <button
          mat-raised-button
          color="primary"
          class="ml-[5px] mt-[5px]"
          type="submit"
          [disabled]="form.invalid"
        >
          Buscar
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
<section class="flex flex-wrap">
  @for (author of listAuthors; track $index) {
  <mat-card class="w-[250px] m-[5px] cursor-pointer" [matMenuTriggerFor]="menu">
    <mat-card-header>
      <mat-card-title
        ><h3>
          {{ author.name }}
        </h3></mat-card-title
      >
    </mat-card-header>
    <mat-card-content>
      <div>
        <h4>Nacionalidad:</h4>
        {{ author.country.name }}
      </div>
      <div>
        <h4>Fecha nacimiento:</h4>
        {{ author.birthDate | date : "dd/MM/yyyy" }}
      </div>
    </mat-card-content>
  </mat-card>
  <mat-menu #menu="matMenu" xPosition="after">
    <button mat-menu-item [routerLink]="'detail/' + author.id">
      <mat-icon>remove_red_eye</mat-icon>
      <span>Ver mas</span>
    </button>
    @if(canAddAuthor){
    <button mat-menu-item [routerLink]="'edit/' + author.id">
      <mat-icon>edit</mat-icon>
      <span>Editar</span>
    </button>
    <button mat-menu-item (click)="deleteAuthor(author)">
      <mat-icon>delete</mat-icon>
      <span>Borrar</span>
    </button>
    }
  </mat-menu>
  }
</section>
<footer>
  <mat-paginator
    [length]="sizeAuthors"
    [pageSize]="10"
    [pageIndex]="indexPage"
    [pageSizeOptions]="[5, 10, 15, 20]"
    class="rounded-xl"
    (page)="changePagination($event)"
  >
  </mat-paginator>
</footer>
} @else{
<img
  class="sm:w-[40%] w-[90%] left-0 right-0 mx-auto rounded-3xl"
  src="./assets/img/noFound.png"
  alt=""
/>
}
